<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/public/styles.css">
<link rel="icon" href="favicon.ico" type="image/x-icon">

<head>
    <title>Starter - Rocketseat</title>
</head>

<body>

    <header>
        <div class="links">
            <a href="/container.njk">Conteúdos</a>
            <a href="courses.html">Cursos</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
        </div>
    </header>
    
    <div class="course">
        <div class="img_course">
        <img src="/assets/starter_show.png" alt="Rocketseat-Starter">
    </div>
        <div class="course_info">
        <p class="title">Starter</p>
        <p class="course_type">CURSO</p>
        <p class="title_info"><strong id="em_starter">Cursos 100% online e gratuitos </strong>para você entrar com o
            pé direito nas tecnologias mais desejadas do mercado.</p>
        <p class="subtitle">Descubra o caminho para dominar a Omnistack.</p>
    </div>
    </div>

    <section class="cards_tech">
        <div class="card_tech">
            <div class="img_card">
                <img src="/assets/768px-JavaScript-logo.png" alt="">
            </div>
            <div class="img_title">
                <p>Javascript</p>               
            </div>
        </div>
        <div class="card_tech">
            <div class="img_card">
                <img src="/assets/es6.png" alt="">
            </div>
            <div class="img_title">
                <p>ES6</p>
            </div>
        </div>
        <div class="card_tech">
            <div class="img_card">
                <img src="/assets/nodejs.jpg" alt="">
            </div>
            <div class="img_title">
                <p>NodeJS</p>
                <p></p>
            </div>
        </div>
        <div class="card_tech">
            <div class="img_card">
                <img src="/assets/reactjs.png" alt="">
            </div>
            <div class="img_title">
                <p>ReactJS</p>
            </div>
        </div>
        <div class="card_tech">
            <div class="img_card">
                <img src="/assets/reactnative.png" alt="">
            </div>
            <div class="img_title">
                <p>React Native</p>
            </div>
        </div>
    </section>

</body>

</html>