{% extends "layout.njk" %}

{% block content %}

    <div class="course">
        <div class="img_course">
            <img src="/assets/launchbase_logo.png" alt="Rocketseat-LaunchBase">
        </div>
        <div class="course_info">
            <p class="title">LaunchBase</p>
            <p class="course_type">BOOTCAMP</p>
            <p class="title_info"><strong id="em_launchbase">Domine o desenvolvimento web do zero</strong> e acelere na
                direção
                dos
                seus objetivos.</p>
            <div class="registration">
                <p>Inscrições encerradas. <strong id="em_launchbase">Reserve sua vaga</strong> para a próxima turma!</p>
                <div class="send_email_launchbase">
                    <input type="email" placeholder="Digite seu email aqui">
                    <button type="submit" class="button_reserve">Reservar minha vaga</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}