{% extends "layout.njk" %}

{% block content %}

    <div class="course">
        <div class="img_course">
            <img src="gostack.png" alt="Rocketseat-LaunchBase">
        </div>
        <div class="course_info">
            <p class="title">Gostack</p>
            <p class="course_type">BOOTCAMP</p>
            <p class="title_info"><strong id="em_gostack">Domine o back-end, o front-end e o mobile</strong> através do método que vai te guiar direto ao ponto na direção dos seus objetivos.</p>
            <div class="registration">
                <p>Inscrições encerradas. <strong id="em_gostack">Reserve sua vaga</strong> para a próxima turma!</p>
                <div class="send_email_gostack">
                    <input type="email" placeholder="Digite seu email aqui">
                    <button type="submit" class="button_reserve">Reservar minha vaga</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}