{% extends "layout.njk" %}

{% block content %}

    <div id="img">
        <img src="{{about.avatar_url}}" alt="">
    </div>
    <div class="infos">
        <h2>{{about.title_info}}</h2>
        <p>{{about.description_title}}</p>
        <h2>{{about.title_tech}}</h2>
        <ul>
            {% for tech in about.techs %}
            <li>{{tech.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        <div id="link-footer" class="links">
            {% for link in about.links %}
            <a href="{{link.url}}" target="_blank">{{link.name}}</a>
            {% endfor %}
        </div>
    
        {% endblock %}