<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Rocketseat</title>
</head>

<body>
    <header>
        <div class="links">
            <a href="/container.njk">Conteúdos</a>
            <a href="/cards_courses.html">Cursos</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Telefone</a>
            <a href="/">Sobre</a>
        </div>
    </header>

    <section class="cards_courses">
        <div class="card_course">
            <div class="card_container_course">
                <div class="card_course_image">
                    <img src="/assets/starter.png" alt="">
                </div>
                <div>
                <p class="card_course_title">Starter</p>
                <p class="card_course_subtitle">CURSOS</p>
            </div>
            <div class="card_course_info">
                <p><strong id="em_starter">Torne-se um programador desejado</strong> no mercado com esses cursos
                    gratuitos</p>
            </div>
        </div>
        </div>
        <div class="card_course">
            <div class="card_container_course">
                <div class="card_course_image">
                    <img src="/assets/launchbase.png" alt="">
                </div>
                <div>
                    <p class="card_course_title">LaunchBase</p>
                    <p class="card_course_subtitle">BOOTCAMP</p>
                </div>
                <div class="card_course_info">
                    <p><strong id="em_launchbase">Domine a programação do zero</strong> e tenha acesso às melhores
                        oportunidades do mercado</p>
                </div>
            </div>
        </div>
        <div class="card_course">
            <div class="card_container_course">
                <div class="card_course_image">
                    <img src="/assets/gostack.png" alt="">
                </div>
                <div>
                    <p class="card_course_title">GoStack</p>
                    <p class="card_course_subtitle">BOOTCAMP</p>
                </div>
                <div class="card_course_info">
                    <p><strong id="em_gostack">Treinamento imersivo</strong> nas tecnologias mais modernas de
                        desenvolvimento web e mobile</p>
                </div>
            </div>
        </div>
        </div>

        <div class="modal-overlay-course">
            <div class="modal-course">
                <a class="close-modal">
                    <i class="material-icons">
                        x
                    </i>
                </a>
                <div class="modal-course-content">
                    <img src="/assets/launchbase.png" alt="">
                    <div>
                        <p class="card_course_title">LaunchBase</p>
                        <p class="card_course_subtitle">BOOTCAMP</p>
                    </div>
                    <div class="card_course_info">
                        <p><strong id="em_launchbase">Domine a programação do zero</strong> e tenha acesso às melhores
                            oportunidades do mercado</p>
                    </div>
                </div>
            </div>
            
        </div>


        <script src="/public/script.js"></script>
</body>

</html>