{% extends "layout.njk" %}

{% block content %}

    <div class="infos">
        <h1>Blogs</h1>
        <h2>Posts preferidos</h2>
        <h3>Confira esses 3 posts preferidos<h3></div>
            <section class="cards">

                {% for item in items%}

                    <div class="card" id={{item.id}}>
                        <div class="card_container">
                            <img src={{item.img_url}} alt="Imagem de {{itme.id}}">
                            <div class="card__content">
                                <h2>{{item.title_card_content}}</h2>
                            </div>
                            <div class="card__info">
                                <h3>{{item.author_card_info}}</h3>
                                <h4 class="card_timetoread">{{item.time_card_timetoread}}</h4>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </section>
            <div class="modal_overlay">
                <div class="modal">
                    <a class="close_modal">
                        <i class="material-icons" alt="close">
                            X
                        </i>
                    </a>
                    <a class="maximize_modal" alt="maximize">
                        <i class="material-icons">
                            M
                        </i>
                    </a>
                    <a class="minimize_modal" alt="minimize">
                        <i class="material-icons">
                            _
                        </i>
                    </a>
                    <div class="modal_content">
                        <iframe src="https://blog.rocketseat.com.br/" frameborder="0"></iframe>
                    </div>

                </div>
            </div>
            <script src="script.js"></script>

        {% endblock %}