{% extends "layout.njk" %}

{% block content %}

    <section class="cards_courses">

        {% for teachingUnit in teachingUnits %}

        <a href="{{teachingUnit.page_link}}" class="card_course" id="{{teachingUnit.id_borderligth}}">
            <div class="card_container_course">
                <div class="card_course_image">
                    <img src="{{teachingUnit.logo}}" alt="">
                </div>
                <div class="card_course_titles">
                    <p class="card_course_title">{{teachingUnit.name_course}}</p>
                    <p class="card_course_subtitle">{{teachingUnit.type_course}}</p>
                </div>
                <div class="card_course_info">
                    <p>
                        <strong id="{{teachingUnit.id_spotligth}}">{{teachingUnit.discription_info.spotligth}}</strong>{{teachingUnit.discription_info.normal}}</p>
                </div>
            </div>
        </a>

        {% endfor %}
    </section>

{% endblock %}