@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: #141414;
}

header,
footer {
  padding: 30px;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

.links a {
  margin: 0 16px;
  color: var(--color-rocket);
  font-size: 18px;
  line-height: 28px;
}

.links a:hover {
  color: var(--color-green);
  transition: 600ms;
}

#img {
  text-align: center;
}

#img img {
  border-radius: 50%;
  border: 5px solid var(--color-rocket);
}

.infos {
  text-align: center;
  color: white;
  font-size: 18px;
}

.infos h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.infos p {
  width: 500px;
  margin: 30px auto;
}

.infos li {
  line-height: 28px;
}

#link-footer a {
  border-bottom: 1px solid var(--color-green);
}

/*========CARD========*/

.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.card {
  background-color: #7159c1;
  margin-bottom: 100px;
}
.card_container {
  display: grid;
  align-items: center;
  border-radius: 15px;
}
.card_container img {
  max-width: 100%;
}

.card__content,
.card__info,
.not-found {
  padding: 24px;
  text-align: center;
  color: white;
}

.card__content h2 {
  font-size: 18px;
}
.card_info {
  font-size: 12px;
}
/*==========CARD COURSES=========*/

.cards_courses {
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
}

.card_course {
  position: relative;
  background-color: #141414;
  width: 300px;
  height: 450px;
  padding: 4px;
  border-radius: 30px;
  margin: 30px 0;
  top: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.card_container_course {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  margin-top: 60px;
}

.card_course_image img{
    width: 100px;
    height: 100px;

}

.card_course_titles {
    margin: 3px 0;
}

.card_course_title {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.card_course_subtitle {
  color: #777777;
  letter-spacing: 4px;
}

.card_course_info {
  margin: 6px 0;
}

.card_course_info p {
  color: #777777;
  line-height: 30px;
  word-spacing: 4px;
}

#em_starter {
  color: var(--color-rocket);
}

#em_launchbase {
  color: #f39821;
}

#em_gostack {
  color: var(--color-green);
}

/*=========== CARDS STARTER / LAUNCHBASE / GOSTACK =============*/

.cards_tech {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 18px;
  justify-content: center;
  margin-bottom: 30px;
}

.card_tech {
  position: relative;
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  background-color: #141414;
  border-radius: 15px;
}

.card_tech:hover {
  transition: all 0.2 ease-in-out;
  border: 3px solid #777777;
}

.img_card img {
  width: 65px;
  height: 65px;
  position: absolute;
  border-radius: 15px;
  margin: 10px 42.5px;
}

.img_title p {
  position: absolute;
  width: 150px;
  height: 60px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

course {
  position: relative;
}

.course .img_course {
  width: 220px;
  height: 220px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.course .img_course img {

  border-radius: 15px;
}

.course .title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  line-height: 44px;
}

.course .course_type {
  color: #777777;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 30px;
}

.course .title_info {
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  margin: 0 370px;
  line-height: 32px;
}

.course .subtitle {
  color: #777777;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  margin: 42px 0;
}

.registration {
    width: 500px;
    height: 100px;
    padding: 30px;
    margin: auto;
}
.registration p {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.send_email_launchbase input {
    width: 320px;
    height: 20px;
    margin: auto;
    background-color: #ecbd80;
    text-align: center;
}

.send_email_launchbase button {
    width: 155px;
    height: 25px;
    margin: 0 10px;
    background-color: #f39821;
    cursor: pointer;
}

.send_email button:hover {
    transition: all 0.6 ease-in-out;
    border: 3px solid #141414;
}

.send_email_gostack input {
  width: 320px;
  height: 20px;
  margin: auto;
  background-color: #90f7aa;
  text-align: center;
}

.send_email_gostack button {
  width: 155px;
  height: 25px;
  margin: 0 10px;
  background-color: var(--color-green);
  cursor: pointer;
}
/*========== MODAL ===========*/

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close_modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal .maximize_modal {
  color: black;
  position: absolute;
  right:26px;
  top: 8px;
  cursor: pointer;
}

.modal .minimize_modal {
  color: black;
  position: absolute;
  right:46px;
  top: 8px;
  cursor: pointer;
}

.modal-overlay-course {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-course {
  background-color: #141414;
  width: 300px;
  height: 550px;
  margin: 150px 330px;
  position: relative;
  border-radius: 30px;
}

.modal-course .close-modal {
  color: #50fa7b;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

/*=========== MODAL.ACTIVE================*/

.modal_overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}

.modal.minimize {
  margin-top:600px
}

.modal.maximize {
  margin: 5vh auto;
}

/*=============CARD TRANSITION===============*/

#starter:hover {
  top: -2px;
  border: 3px solid #7159c1;
}

#launchbase:hover {
  top: -2px;
  border: 3px solid #f39821;
}

#gostack:hover {
  top: -2px;
  border: 3px solid #50fa7b;
}
